body {
    max-width: 100%;
    margin: 0;
}
div.container {
    width: 100%;
}
div.container1 {
    width: 100%;
    padding: 0;
    margin: 0;
}
div.menu-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 125px;
    top: 1px;
    left: 0;
}
div.topnav {
    display: none;
}
div.logo {
    position: absolute;
    width: 159px;
    height: 102px;
    left: 69px;
    top: 17px;
}
ul {
    list-style-type: none;
    margin-top: 50px;
    margin-left: 700px;
    padding: 0;
    overflow: hidden;
}
li {
    display: inline;
    margin: 30px;
}
li a {
    text-decoration: none;
    color: #252B42;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}
div.topic {
    position: absolute;
    width: 100%;
    height: 619px;
    left: 0px;
    top: 125px;
    background: linear-gradient(0deg, rgba(23, 16, 16, 0.49), rgba(23, 16, 16, 0.49)), url(../Images/Rectangle\ 48.png);
}
div.topic-text {
    position: absolute;
    left: 9%;
    right: 19%;
    top: 18.86%;
    bottom: -52.19%;
}
div.topic-text p {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
}
div.master-btn {
    width: 236px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
    border-radius: 30px;
}
div.master-btn button {
    background: #FFFFFF;
    border: none;
}
div.master-btn button a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #15A9A9;
}
div.brain-cards {
    position: absolute;
    width: 1160px;
    height: 125px;
}
div.card1 {
    position: absolute;
    width: 300px;
    height: 246px;
    left: 54px;
    top: 803px;
    background: #15A9A9;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
    border-radius: 34px;
}
div.img {
    position: absolute;
    width: 93px;
    height: 127px;
    left: 100px;
    top: 5px;
}
div.music-text {
    position: absolute;
    width: 252px;
    height: 68px;
    left: 40px;
    top: 161px;
}
div.music-text a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #F2F2F2; 
}
div.music-text a span {
    margin-left: 50px;
}
div.card2 {
    position: absolute;
    width: 300px;
    height: 246px;
    left: 450px;
    top: 803px;
    border: 5px solid #15A9A9;
    box-sizing: border-box;
    filter: drop-shadow(0px 40px 40px rgba(0, 0, 0, 0.07));
    border-radius: 34px;
}
div.img2 {
    position: absolute;
    width: 93px;
    height: 127px;
    left: 100px;
    top: 5px;
}
div.health-text {
    position: absolute;
    width: 252px;
    height: 68px;
    left: 50px;
    top: 161px;
}
div.health-text a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #15A9A9;
}
div.health-text a span {
    margin-left: 50px;
}
div.card3 {
    position: absolute;
    width: 300px;
    height: 246px;
    left: 856px;
    top: 803px;
    background: #15A9A9;
    box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
    border-radius: 34px;
}
div.img3 {
    position: absolute;
    width: 93px;
    height: 127px;
    left: 100px;
    top: 5px;
}
div.habit-text {
    position: absolute;
    width: 252px;
    height: 68px;
    left: 57px;
    top: 161px;
}
div.habit-text a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #F2F2F2;
}
div.habit-text a span {
    margin-left: 50px;
}
div.h-line {
    position: absolute;
    width: 884px;
    height: 0;
    left: 180px;
    top: 1105px;
    border: 3px solid #E4E4E4;
}
div.about {
    position: absolute;
    width: 100%;
    height: 506px;
    left: -12px;
    top: 1135px;
    background: #FFFFFF;
}
div.bg-brown {
    position: absolute;
    width: 258px;
    height: 425px;
    left: 142px;
    top: 66px;
    background: #C8BFBF;
    box-shadow: 50px 30px 150px rgba(46, 4, 4, 0.15);
    border-radius: 35px 0px;
}
div.about-real {
    position: absolute;
    width: 558px;
    height: 506px;
    left: 500px;
    top: 66px;
}
div.about-head {
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}
div.about-head h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #15A9A9;
}
div.happy {
    position: static;
    left: 0%;
    right: 0%;
    top: 3%;
    bottom: 6.94%;
}
div.happy h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.2px;
    color: #252B42;
}
div.lorem {
    position: absolute;
    width: 548px;
    left: 0%;
    right: 13%;
    top: 31%;
    bottom: 35.56%;
}
div.lorem p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.2px;
    color: #737373;
}
div.read-btn {
    position: absolute;
    width: 200px;
    height: 52px;
    left: 0px;
    top: 365px;
    background: #15A9A9;
    border-radius: 34px;
}
div.read-btn button{
    margin-top: 6px;
    margin-left: 40px;
    border: none;
    background: #15A9A9;
}
div.read-btn button a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
div.mission {
    position: absolute;
    width: 100%;
    height: 490px;
    left: 1px;
    top: 1638px;
    background: #F3F3F3;
}
div.mission-img {
    position: absolute;
    width: 630px;
    height: 434px;
    left: 560px;
    top: 36px;
    background: url(../Images/Rectangle\ 75.png);
    border-radius: 60px 0px 0px 60px;
}
div.our {
    position: absolute;
    left: 4%;
    right: 0%;
    top: 10%;
    bottom: 0%;
}
div.our h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #15A9A9;
}
div.provide {
    position: absolute;
    left: 4%;
    right: 0%;
    top: 20%;
    bottom: 7%;
}
div.provide h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
}
div.provide h2 span {
    color: #15A9A9;
}
div.lorem1 {
    position: absolute;
    left: 4%;
    right: 0%;
    top: 55%;
    bottom: 9%;
}
div.lorem1 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #737373;
}
div.download {
    position: absolute;
    width: 100%;
    height: 516px;
    left: 0px;
    top: 2129px;
    background: linear-gradient(0deg, rgba(37, 43, 66, 0.4), rgba(37, 43, 66, 0.4)), url(../Images/Rectangle\ 47.png);
}
div.app {
    position: absolute;
    left: 11%;
    right: 1.72%;
    top: 16%;
    bottom: 12.99%;
}
div.app h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
div.avail {
    position: absolute;
    left: 14%;
    right: 1.16%;
    top: 29%;
    bottom: 17.24%;
}
div.avail h4 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
div.playstore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 21px;
    position: absolute;
    width: 102px;
    height: 64px;
    left: 500px;
    top: 250px;
    background: #15A9A9;
    border-radius: 10px;
}
div.playstore button {
    margin-top: 20px;
    border: none;
    background: #15A9A9;
}
div.playstore button a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
div.appstore {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 21px;
    position: absolute;
    width: 102px;
    height: 64px;
    left: 750px;
    top: 250px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}
div.appstore button {
    margin-top: 20px;
    border: none;
    background: none;
}
div.appstore button a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
div.foot {
    position: absolute;
    top: 2650px;
    width: 100%;
    height: 133px;
}
div.another-bg {
    position: absolute;
    width: 208px;
    height: 76px;
    left: 31px;
    top: 26.1px;
    background: #C4C4C4;
}
div.tweet {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 39%;
    right: 9.37%;
    top: 36%;
    bottom: 16.99%;
    background: url(../Images/Vector-tweet.png);
}
div.fb {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 45%;
    right: 9.37%;
    top: 36%;
    bottom: 16.99%; 
    background: url(../Images/Vector-fb.png);
}
div.ig {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    right: 9.37%;
    top: 36%;
    bottom: 16.99%; 
    background:  #15A9A9 url(../Images/Vector-ig.png);
}
div.foot p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #5C5C5C;
    margin-left: 800px;
    padding-top: 50px;
}
/* Music Theraphy page */
div.intro {
    position: absolute;
    width: 1262px;
    height: 235px;
    left: 0px;
    top: 126px;
    background: url(../Images/Rectangle\ 78.png);
}
div.intro-text {
    position: absolute;
    width: 578px;
    height: 37px;
    left: 69px;
    top: 59px;
}
div.intro-text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-shadow: 9px 4px 4px rgba(0, 0, 0, 0.25);
}
div.h-back {
    position: absolute;
    width: 243px;
    height: 54px;
    left: 1018px;
    top: 79px;
    background: #15A9A9;
    border-radius: 33px 0px 0px 33px;
}
div.arrow {
    position: absolute;
    width: 10px;
    left: 15%;
    right: 25.69%;
    top: 8.75%;
    bottom: 8.75%;
    background: #15A9A9;
}
div.arrow img {
    margin-top: 15px;
}
div.home {
    position: absolute;
    width: 76px;
    height: 29px;
    left: 95px;
    top: 11px;
}
div.home a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
div.bg-music {
    position: absolute;
    width: 100%;
    height: 70px;
    top: 360px;
    left: 0px;
}
div.bg-white {
    position: absolute;
    width: 400px;
    height: 40px;
    left: 500px;
}
div.bg-white p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
div.theraphy {
    position: absolute;
    width: 100%;
    height: 656px;
    left: 0px;
    top: 440px;
    background: rgba(196, 196, 196, 0.12);
}
div.an-img {
    position: absolute;
    width: 528px;
    height: 436px;
    left: 715px;
    top: 14px;
    background: url(../Images/Rectangle\ 75.png);
}
div.img-left {
    left: 15px;
}
div.theraphy-text {
    position: absolute;
    width: 713px;
    height: 213px;
    left: 39px;
    top: 24px;
}
div.text-right {
    width: 690px;
    left: 555px;
}
div.text-right p {
    font-size: 15px;
}
div.theraphy-text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #8E8D8D;
}
div.head {
    position: absolute;
    width: 396px;
    height: 74px;
    left: 39px;
    top: 207px;
}
div.head-right {
    left: 600px;
}
div.head p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #8E8D8D;
}
div.more-text {
    position: absolute;
    width: 713px;
    height: 213px;
    left: 39px;
    top: 294px;
}
div.more-right {
    width: 690px;
    left: 555px;
}
div.more-text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 38px;
    letter-spacing: 0.2px;
    color: #8E8D8D;
}
div.quick {
    position: absolute;
    width: 506px;
    height: 76px;
    left: 69px;
    top: 508px;
    background: #15A9A9;
    border-radius: 50px;
}
div.quick-right {
    left: 555px;
}
div.short {
    top: 1099px;
}
div.footer {
    top: 1600px;
}
div.respond {
    position: absolute;
    width: 495px;
    height: 37px;
    left: 179px;
    top: 27px;
}
div.respond a {
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}
div.respond i {
    font-size: 34px;
    color: #FFFFFF;
    margin-left: -90px;
    float: left;
}
/* Login / Sign Up */
div.login {
    position: absolute;
    width: 630px;
    height: 740px;
    left: 0px;
    top: 363px;
    background: #F2F2F2;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
}
div.l-title {
    position: absolute;
    width: 89px;
    height: 37px;
    left: 256px;
    top: 57px;
}
div.sign {
    width: 109px;
    top: 427px;
    left: 856px;
}
div.l-title h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
div.l-hr {
    position: absolute;
    width: 134px;
    height: 3px;
    left: 240px;
    top: 123px;
    background: #15A9A9;
    border-radius: 40px;
}
div.s-hr {
    top: 490px;
    left: 846px;
}
label.email {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 120px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    opacity: 0.4;
}
div.log-form form label.email {
    top: 204px;
}
label.sign {
    top: 690px;
    left: 756px;
}
div.log-form input:first-of-type {
    position: absolute;
    width: 314px;
    left: 120px;
    top: 254px;
    background-color:  #F2F2F2;
    border: none;
    border-bottom: 0.5px solid #000000;
}
div.sign-form input:first-of-type {
    position: absolute;
    width: 314px;
    left: 756px;
    top: 560px;
    background-color:  #FFFFFF;
    border: none;
    border-bottom: 0.5px solid #000000;
}
div.sign-form form label[for="address"] {
    position: absolute;
    width: 103px;
    top: 605px;
    left: 756px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    opacity: 0.4;
}
div.sign-form form input.address {
    position: absolute;
    width: 314px;
    left: 756px;
    top: 640px;
    background-color:  #FFFFFF;
    border: none;
    border-bottom: 0.5px solid #000000;
}
div.sign-form form input[type="email"] {
    position: absolute;
    width: 314px;
    left: 756px;
    top: 740px;
    background-color:  #FFFFFF;
    border: none;
    border-bottom: 0.5px solid #000000;
}
div.log-form label:last-of-type {
    position: absolute;
    width: 72px;
    height: 18px;
    left: 120px;
    top: 359px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    opacity: 0.4;
}
label.pass {
    position: absolute;
    width: 103px;
    height: 18px;
    top: 780px;
    left: 756px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    opacity: 0.4;
}
div.log-form form input[type="password"] {
    position: absolute;
    width: 314px;
    left: 120px;
    top: 404px;
    background-color:  #F2F2F2;
    border: none;
    border-bottom: 0.5px solid #000000;
}
div.sign-form form input[type="password"] {
    position: absolute;
    width: 314px;
    left: 756px;
    top: 820px;
    background-color:  #FFFFFF;
    border: none;
    border-bottom: 0.5px solid #000000;
}
div.sign-form form label[for="confirm"] {
    position: absolute;
    width: 153px;
    height: 18px;
    top: 870px;
    left: 756px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    opacity: 0.4;
}
div.sign-form form input.confirm {
    position: absolute;
    width: 314px;
    left: 756px;
    top: 910px;
    background-color:  #FFFFFF;
    border: none;
    border-bottom: 0.5px solid #000000;
}
div.log-form input:last-of-type {
    position: absolute;
    width: 205px;
    height: 59px;
    left: 148px;
    top: 599px;
    background: #15A9A9;
    border: none;
    border-radius: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}
div.sign-form form input[type="submit"] {
    position: absolute;
    width: 205px;
    height: 59px;
    left: 756px;
    top: 960px;
    background: #15A9A9;
    border: none;
    border-radius: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}
div.log-form form a {
    position: absolute;
    width: 149px;
    height: 20px;
    left: 200px;
    top: 683px;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #15A9A9;
}
div.sign-form form a {
    position: absolute;
    width: 149px;
    height: 20px;
    left: 808px;
    top: 1034px;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 21px;
    color: #15A9A9;
}
div.sign-form form label:first-of-type {
    position: absolute;
    width: 103px;
    top: 515px;
    left: 756px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    opacity: 0.4;
}
        /* Dashboard */
div.profile {
    position: absolute;
    width: 105px;
    height: 37px;
    left: 606px;
    top: 413px;
}
div.profile h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
} 
div.p-hr {
    position: absolute;
    width: 170px;
    height: 3px;
    left: 584px;
    top: 469px;
    background: #15A9A9;
    border-radius: 40px;
}   
div.rect-1 {
    position: absolute;
    width: 300px;
    height: 174px;
    left: 103px;
    top: 508px;
    border: 3px solid #15A9A9;
    box-sizing: border-box;
    border-radius: 12px;
}   
div.rect-1 p {
    position: absolute;
    width: 272px;
    height: 78px;
    left: 10px;
    top: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
} 
div.rect-1 p span {
    font-weight: normal;
}
div.rect-2 {
    position: absolute;
    width: 300px;
    height: 174px;
    left: 503px;
    top: 508px;
    border: 3px solid #15A9A9;
    box-sizing: border-box;
    border-radius: 12px;
}
div.rect-2 p {
    position: absolute;
    width: 272px;
    height: 78px;
    left: 10px;
    top: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
} 
div.rect-2 p span {
    font-size: 18px;
    font-weight: normal;
}
div.rect-3 {
    position: absolute;
    width: 300px;
    height: 174px;
    left: 903px;
    top: 508px;
    border: 3px solid #15A9A9;
    box-sizing: border-box;
    border-radius: 12px;
}
div.rect-3 p {
    position: absolute;
    width: 272px;
    height: 78px;
    left: 10px;
    top: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
} 
div.change {
    position: absolute;
    width: 128px;
    height: 20px;
    left: 90px;
    top: 101px;
    background: #15A9A9;
    border-radius: 50px;
}
div.change a {
    margin-left: 35px;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    color: #FFFFFF;
}
div.rect-4 {
    position: absolute;
    width: 300px;
    height: 174px;
    left: 103px;
    top: 728px;
    border: 3px solid #15A9A9;
    box-sizing: border-box;
    border-radius: 12px;
}   
div.rect-4 p {
    position: absolute;
    width: 272px;
    height: 78px;
    left: 10px;
    top: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
} 
div.rect-4 p span {
    font-weight: normal;
}
div.rect-5 {
    position: absolute;
    width: 300px;
    height: 174px;
    left: 503px;
    top: 728px;
    border: 3px solid #15A9A9;
    box-sizing: border-box;
    border-radius: 12px;
}
div.rect-5 p {
    position: absolute;
    width: 272px;
    height: 78px;
    left: 10px;
    top: 23px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
} 
div.rect-5 p span {
    font-size: 18px;
    font-weight: normal;
}
div.rect-6 {
    position: absolute;
    width: 300px;
    height: 174px;
    left: 903px;
    top: 728px;
    box-sizing: border-box;
    border-radius: 12px;
}
div.rect-6 a {
    text-decoration: none;
    position: absolute;
    width: 272px;
    height: 78px;
    left: 10px;
    top: 63px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #000000;
} 
/* Recent articles page */
div.rec {
    width: 200px;
    left: 596px;
}
div.r-hr {
    width: 230px;
}
div.square1 {
    position: absolute;
    width: 243px;
    height: 237px;
    left: 75px;
    top: 506px;
    background: #C4C4C4;
}
div.text-1 {
    position: absolute;
    width: 279px;
    height: 56px;
    left: 332px;
    top: 506px;
}
div.text-1 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
}
div.text-1 + p {
    position: absolute;
    width: 149px;
    height: 17px;
    left: 332px;
    top: 575px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
p + p {
    position: absolute;
    width: 101px;
    height: 17px;
    left: 332px;
    top: 598px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
p.m-text-1 {
    position: absolute;
    width: 367px;
    height: 90px;
    left: 332px;
    top: 606px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #000000;
}
div.read-1 {
    position: absolute;
    width: 167px;
    height: 41px;
    left: 332px;
    top: 702px;
    background: #15A9A9;
    border-radius: 50px;
}
div.read-1 a {
    text-decoration: none;
    margin-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
div.square2 {
    position: absolute;
    width: 243px;
    height: 237px;
    left: 675px;
    top: 506px;
    background: #C4C4C4;
}
div.text-2 {
    position: absolute;
    width: 279px;
    height: 56px;
    left: 932px;
    top: 506px;
}
div.text-2 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
}
div.text-2 + p {
    position: absolute;
    width: 149px;
    height: 17px;
    left: 932px;
    top: 575px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
p + p.date-2 {
    position: absolute;
    width: 101px;
    height: 17px;
    left: 932px;
    top: 598px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
p.m-text-2 {
    position: absolute;
    width: 317px;
    height: 90px;
    left: 932px;
    top: 606px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #000000;
}
div.read-2 {
    position: absolute;
    width: 167px;
    height: 41px;
    left: 932px;
    top: 702px;
    background: #15A9A9;
    border-radius: 50px;
}
div.read-2 a {
    text-decoration: none;
    margin-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
div.square3 {
    position: absolute;
    width: 243px;
    height: 237px;
    left: 75px;
    top: 799px;
    background: #C4C4C4;
}
div.text-3 {
    position: absolute;
    width: 279px;
    height: 56px;
    left: 332px;
    top: 799px;
}
div.text-3 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
}
div.text-3 + p {
    position: absolute;
    width: 149px;
    height: 17px;
    left: 332px;
    top: 869px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
p + p.date-3 {
    position: absolute;
    width: 101px;
    height: 17px;
    left: 332px;
    top: 891px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
p.m-text-3 {
    position: absolute;
    width: 367px;
    height: 90px;
    left: 332px;
    top: 899px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #000000;
}
div.read-3 {
    position: absolute;
    width: 167px;
    height: 41px;
    left: 332px;
    top: 995px;
    background: #15A9A9;
    border-radius: 50px;
}
div.read-3 a {
    text-decoration: none;
    margin-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
div.square4 {
    position: absolute;
    width: 243px;
    height: 237px;
    left: 675px;
    top: 799px;
    background: #C4C4C4;
}
div.text-4 {
    position: absolute;
    width: 279px;
    height: 56px;
    left: 932px;
    top: 799px;
}
div.text-4 p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
}
div.text-4 + p {
    position: absolute;
    width: 149px;
    height: 17px;
    left: 932px;
    top: 869px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
p + p.date-4 {
    position: absolute;
    width: 101px;
    height: 17px;
    left: 932px;
    top: 891px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
p.m-text-4 {
    position: absolute;
    width: 317px;
    height: 90px;
    left: 932px;
    top: 899px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.2px;
    color: #000000;
}
div.read-4 {
    position: absolute;
    width: 167px;
    height: 41px;
    left: 932px;
    top: 995px;
    background: #15A9A9;
    border-radius: 50px;
}
div.read-4 a {
    text-decoration: none;
    margin-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
/* Article page */
div.big-sq {
    position: absolute;
    width: 611px;
    height: 453px;
    left: 69px;
    top: 555px;
    background: #C4C4C4;
}
p.common {
    position: absolute;
    width: 577px;
    height: 156px;
    left: 69px;
    top: 1000px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    color: #15A9A9;
}
p.common + p {
    position: absolute;
    width: 255px;
    height: 29px;
    left: 86px;
    top: 1194px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
p + p.dat {
    position: absolute;
    width: 195px;
    height: 29px;
    left: 379px;
    top: 1194px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
p.info {
    position: absolute;
    width: 751px;
    height: 480px;
    left: 87px;
    top: 1264px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
div.art {
    top: 2000px;
}
/* Responsiveness*/
@media only screen and (max-width: 414px) {
    /* Mobile */
    body {
        max-width: 414px;
        margin: 0;
    }
    div.container {
        max-width: 414px;
        margin: 0;
        padding: 0;
    }
    div.container1 {
        max-width: 414px;
        margin: 0;
        padding: 0;
    }
    div.menu-bar {
        width: 414px;
        height: 85px;
    }
    div.logo {
        width: 90px;
        height: 85px;
        left: 10px;
        top: 0;
    }
    div.menu-bar ul {
        display: none;
    }
    /* Style the navigation menu */
    div.topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
    /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
    /* Style navigation menu links */
    div.topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
    /* Style the hamburger menu */
    div.topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        left: 250px;
        top: 30px;
    }
    /* Add a grey background color on mouse-over */
    div.topnav a:hover {
        background-color: #ddd;
        color: black;
    }
    div.topnav a i {
        font-size: 64px;
        color: black;
    }
    div.topic {
        top: 86px;
        width: 100%;
        height: 150px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    div.topic-text {
        top: 0%;
        left: 2%;
        bottom: 0px;
    }
    div.topic-text p {
        font-size: 20px;
        line-height: 24px;
    }
    div.master-btn {
        position: absolute;
        top: 95px;
        left: 10px;
        bottom: 4px;
        width: 156px;
        height: 30px;
        padding: 12px 0px;
    }
    div.brain-cards {
        width: 414px;
        top: 255px;
        display: flex;
        flex-wrap: nowrap;
    }
    div.card1 {
        top: 20px;
        left: 60px;
        width: 300px;
    }
    div.img {
        left: 100px;
    }
    div.music-text {
        left: 50px;
        width: 220px;
    }
    div.card2 {
        top: 300px;
        left: 60px;
        width: 300px;
    }
    div.img2 {
        left: 100px;
    }
    div.health-text {
        left: 50px;
        width: 220px;
    }
    div.card3 {
        top: 580px;
        left: 60px;
        width: 300px;
    }
    div.img3 {
        left: 90px;
    }
    div.habit-text {
        left: 50px;
        width: 220px;
    }
    div.h-line {
        width: 360px;
        left: 30px;
    }
    div.about {
        max-width: 414px;
    }
    div.bg-brown {
        top: 10px;
        left: 90px;
        height: 245px;
    }
    div.about-real {
        top: 250px;
        left: 50px;
        width: 360px;
    }
    div.happy {
        position: absolute;
        height: 100px;
        top: 40px;
    }
    div.happy h2 {
        font-size: 20px;
        line-height: 40px;
    }
    div.lorem {
        top: 21%;
        width: 400px;
        height: 180px;
        left: 0;
    }
    div.lorem p {
        font-size: 19px;
        line-height: 25px;
    }
    div.read-btn {
        top: 295px;
    }
    div.mission {
        top: 1758px;
        max-width: 414px;
    }
    div.our {
        height: 50px;
        top: 1%;
    }
    div.our h2 {
        line-height: 20px;
    }
    div.provide {
        top: 6%;
    }
    div.provide h2 {
        font-size: 26px;
        line-height: 50px;
    }
    div.mission-img {
        display: none;
    }
    div.lorem1 {
        top: 25%;
        height: 168px;
    }
    div.download {
        top: 2029px;
        max-width: 100%;
        height: 255px;
        background-size: 200%;
        background-repeat: no-repeat;
    }
    div.app {
        top: 2%;
        left: 4%;
    }
    div.app h2 {
        font-size: 25px;
        line-height: 50px;
    }
    div.avail {
        left: 2%;
        top: 16%;
    }
    div.avail h4 {
        font-size: 20px;
        line-height: 30px;
    }
    div.playstore {
        left: 90px;
        width: 94px;
        height: 50px;
        padding: 0px;
        top: 150px;
    }
    div.playstore button {
        margin-top: 10px;
    }
    div.appstore {
        left: 200px;
        top: 150px;
        width: 94px;
        height: 50px;
        padding: 0px;
    }
    div.appstore button {
        margin-top: 10px;
    }
    div.foot {
        width: 360px;
        top: 2270px;
    }
    div.another-bg {
        width: 108px;
        left: 10px;
    }
    div.tweet {
        left: 40%;
    }
    div.fb {
        left: 54%;
    }
    div.ig {
        left: 70%;
    }
    div.foot p {
        margin-left: 100px;
        padding-top: 100px;
    }
    /* Music page */
    div.intro {
        top: 86px;
        max-width: 414px;
        height: 70px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    div.intro-text {
        max-width: 414px;
        left: 10px;
        top: 0px;
    }
    div.intro-text p {
        font-size: 20px;
    }
    div.h-back {
        width: 103px;
        height: 34px;
        left: 310px;
        top: 19px;
    }
    div.arrow {
        top: 3%;
    }
    div.home {
        top: 5px;
        left: 50px;
    }
    div.bg-music {
        max-width: 100%;
        top: 155px;
    }
    div.bg-white {
        left: 10px;
    }
    div.theraphy {
        max-width: 100%;
        top: 250px;
    }
    div.theraphy-text, div.text-right {
        width: 100%;
        left: 2px;
        top: 287px;
    }
    div.theraphy-text p, div.text-right p {
        font-size: 20px;
        line-height: 30px;
    }
    div.head, div.head-right {
        left: 2px;
        top: 450px;
    }
    div.more-text, div.more-right {
        width: 414px;
        left: 10px;
        top: 550px;
    }
    div.quick, div.quick-right {
        width: 300px;
        height: 56px;
        top: 788px;
    }
    div.quick-right {
        left: 50px;
    }
    div.respond, div.respond-right {
        width: 250px;
        left: 98px;
        top: 10px;
    }
    div.respond a, div.respond-right a {
        font-weight: normal;
        font-size: 20px;
    } 
    div.an-img, div.img-left {
        max-width: 414px;
        left: 3px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    div.short {
        top: 1100px;
    }
    div.footer {
        top: 1350px;
    }
    div.login {
        width: 414px;
    }
    div.l-title {
        left: 56px;
    }
    div.l-hr {
        left: 50px;
    }
    div.log-form form label.email, 
    div.log-form input:first-of-type, 
    div.log-form label:last-of-type, 
    div.log-form form input[type="password"] {
        left: 50px;
    }
    div.log-form label:last-of-type {
        top: 314px;
    }
    div.log-form form input[type="password"] {
        top: 354px;
    }
    div.log-form input:last-of-type {
        top: 429px;
        left: 70px;
    }
    div.log-form form a {
        left: 100px;
        top: 523px;
    }
    div.sign {
        top: 927px;
        left: 76px;
    }
    div.s-hr {
        top: 990px;
        left: 70px;
    }
    div.sign-form form label:first-of-type {
        top: 1020px;
        left: 50px;
    }
    div.sign-form input:first-of-type {
        top: 1060px;
        left: 50px;
        background-color: #F2F2F2;
    }
    div.sign-form form label[for="address"] {
        top: 1100px;
        left: 50px;
    }
    div.sign-form form input.address {
        top: 1140px;
        left: 50px;
    }
    label.sign {
        top: 1180px;
        left: 50px;
    }
    div.footer {
        top: 1800px;
    }
    div.short {
        top: 1550px;
    }
    div.sign-form form input[type="email"] {
        top: 1220px;
        left: 50px;
    }
    label.pass {
        top: 1260px;
        left: 50px;
    }
    div.sign-form form input[type="password"] {
        top: 1300px;
        left: 50px;
    }
    div.sign-form form label[for="confirm"] {
        top: 1340px;
        left: 50px;
    }
    div.sign-form form input.confirm {
        top: 1380px;
        left: 50px;
    }
    div.sign-form form input[type="submit"] {
        top: 1420px;
        left: 50px;
    }
    div.sign-form form a {
        top: 1500px;
        left: 95px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        max-width: 100%;
        margin: 0;
    }
    div.container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    div.container1 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    div.menu-bar {
        width: 100%;
    }
    div.menu-bar ul {
        display: none;
    }
    div.intro {
        max-width: 100%;
        height: 100px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    div.login {
        top: 228px;
        width: 100%;
    }
    div.intro-text {
        left: 20px;
        top: 5px;
    }
    div.h-back {
        width: 103px;
        height: 34px;
        left: 490px;
        top: 32px;
    }
    div.arrow {
        top: 1%;
    }
    div.home {
        top: 5px;
        left: 50px;
    }
    div.topic {
        background-size: 100%;
        background-repeat: no-repeat;
        height: 259px;
    }
    div.topic-text {
        top: 0%;
        left: 2%;
        bottom: 0px;
    }
    div.topic-text p {
        font-size: 40px;
        line-height: 44px;
    }
    div.master-btn {
        position: absolute;
        top: 185px;
        left: 10px;
        bottom: 4px;
        width: 156px;
        height: 30px;
        padding: 12px 0px;
    }
    div.brain-cards {
        width: 414px;
        top: 405px;
        left: 90px;
        display: flex;
        flex-wrap: nowrap;
    }
    div.card1 {
        top: 20px;
        left: 60px;
        width: 300px;
    }
    div.img {
        left: 100px;
    }
    div.music-text {
        left: 50px;
        width: 220px;
    }
    div.card2 {
        top: 300px;
        left: 60px;
        width: 300px;
    }
    div.img2 {
        left: 100px;
    }
    div.health-text {
        left: 50px;
        width: 220px;
    }
    div.card3 {
        top: 580px;
        left: 60px;
        width: 300px;
    }
    div.img3 {
        left: 90px;
    }
    div.habit-text {
        left: 50px;
        width: 220px;
    }
    div.h-line {
        width: 360px;
        left: 110px;
        top: 1305px;
    }
    div.about {
        max-width: 100%;
        top: 1355px;
    }
    div.bg-brown {
        top: 10px;
        left: 140px;
        height: 245px;
    }
    div.about-real {
        top: 250px;
        left: 30px;
        width: 100%;
    }
    div.happy {
        position: absolute;
        height: 100px;
        top: 40px;
    }
    div.happy h2 {
        font-size: 30px;
        line-height: 50px;
    }
    div.lorem {
        top: 29%;
        width: 100%;
        height: 180px;
        left: 0;
    }
    div.lorem p {
        font-size: 24px;
        line-height: 35px;
    }
    div.read-btn {
        top: 345px;
    }
    div.mission {
        top: 2008px;
        max-width: 100%;
        height: 270px;
    }
    div.our {
        height: 50px;
        top: 1%;
    }
    div.our h2 {
        line-height: 20px;
    }
    div.provide {
        top: 6%;
    }
    div.provide h2 {
        font-size: 30px;
        line-height: 50px;
    }
    div.mission-img {
        display: none;
    }
    div.lorem1 {
        top: 45%;
        height: 128px;
    }
    /* div.short {
        top: 1100px;
    } */
    div.footer {
        top: 1350px;
    }
    div.log-form label:last-of-type {
        top: 314px;
    }
    div.log-form form input[type="password"] {
        top: 354px;
    }
    div.log-form input:last-of-type {
        top: 429px;
    }
    div.log-form form a {
        top: 523px;
    }
    div.sign {
        top: 977px;
        left: 196px;
    }
    div.s-hr {
        top: 1050px;
        left: 196px;
    }
    div.sign-form form label:first-of-type {
        top: 1060px;
        left: 100px;
    }
    div.sign-form input:first-of-type {
        top: 1100px;
        left: 100px;
        background-color: #FFFFFF;
    }
    div.sign-form form label[for="address"] {
        top: 1140px;
        left: 100px;
    }
    div.sign-form form input.address {
        top: 1180px;
        left: 100px;
    }
    label.sign {
        top: 1220px;
        left: 100px;
    }
    div.footer {
        top: 1800px;
        /* width: 100%; */
    }
    div.short {
        top: 700px;
    }
    div.sign-form form input[type="email"] {
        top: 1260px;
        left: 100px;
    }
    label.pass {
        top: 1300px;
        left: 100px;
    }
    div.sign-form form input[type="password"] {
        top: 1330px;
        left: 100px;
    }
    div.sign-form form label[for="confirm"] {
        top: 1360px;
        left: 100px;
    }
    div.sign-form form input.confirm {
        top: 1402px;
        left: 100px;
    }
    div.sign-form form input[type="submit"] {
        top: 1440px;
        left: 100px;
    }
    div.sign-form form a {
        top: 1520px;
        left: 145px;
    }
    div.download {
        max-width: 100%;
        top: 2249px;
        height: 205px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    div.foot {
        top: 1950px;
    }
    div.app {
        top: 2%;
        left: 4%;
    }
    div.app h2 {
        font-size: 25px;
        line-height: 50px;
    }
    div.avail {
        left: 2%;
        top: 16%;
    }
    div.avail h4 {
        font-size: 20px;
        line-height: 30px;
    }
    div.playstore {
        left: 140px;
        width: 94px;
        height: 50px;
        padding: 0px;
        top: 120px;
    }
    div.playstore button {
        margin-top: 10px;
    }
    div.appstore {
        left: 300px;
        top: 120px;
        width: 94px;
        height: 50px;
        padding: 0px;
    }
    div.appstore button {
        margin-top: 10px;
    }
    div.foot {
        width: 100%;
    }
    div.another-bg {
        width: 108px;
        left: 10px;
    }
    div.tweet {
        left: 40%;
    }
    div.fb {
        left: 54%;
    }
    div.ig {
        left: 70%;
    }
    div.foot p {
        margin-left: 100px;
        padding-top: 100px;
    }
        /* Music page */
    div.bg-music {
        top: 205px;
    }
    div.bg-white {
        left: 70px;
    }
    div.theraphy {
        max-width: 100%;
        height: 956px;
        top: 280px;
    }
    div.theraphy-text, div.text-right {
        width: 100%;
        left: 7px;
        /* top: 287px; */
    }
    div.head, div.head-right {
        left: 7px;
        /* top: 550px; */
    }
    div.more-text, div.more-right {
        width: 100%;
        left: 10px;
        top: 650px;
    }
    div.quick, div.quick-right {
        width: 300px;
        height: 56px;
        top: 838px;
    }
    div.quick-right {
        left: 50px;
    }
    div.respond, div.respond-right {
        width: 250px;
        left: 98px;
        top: 10px;
    }
    div.respond a, div.respond-right a {
        font-weight: normal;
        font-size: 20px;
    } 
    div.an-img, div.img-left {
        max-width: 100%;
        top: 300px;
        left: 20px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
@media only screen and (min-width: 640px) {
    /* Mobiles */
}
@media only screen and (min-width: 750px) {
    /* Tablets */
}